#header1-0 H1 {
  text-align: center;
}
#header1-0 P {
  font-size: 32px;
}
#menu-5 .navbar-toggler {
  color: #000;
}
#menu-5 .nav-link {
  font-size: 22px;
}
#menu-5 .navbar-toggler {
  color: #000;
}
#menu-5 .nav-link {
  font-size: 22px;
}
#content5-k .mbr-section-title {
  text-align: center;
}
#menu-7 .navbar-toggler {
  color: #000;
}
#menu-7 .nav-link {
  font-size: 22px;
}
#content5-e .mbr-section-title {
  text-align: center;
}
